/* elimina todas las margenes por dafecto que coloca el navegador*/
/* Dieseno adaptable para dispositivos movibles*/
* {
  margin: 0;
  padding: 0;
}
body {
  background: #e6e6e6;
}

/*Para fijar el tamano*/
header, .main, footer {
  /*background: #fff;*/
  width:90%;
  max-width: 1000px;
  margin:20px auto; /*es para colocar los espacios tanto arriba como abajo*/
}

header nav {
  background: #528FD5;
  overflow: hidden; /* esto soluciona float:left que elimina la configuracion */
}

#headerr {
    margin:auto;
    width:900px;
    font-family:Arial, Helvetica, sans-serif;
  }

  ul, ol {
    list-style:none;
  }

  .nav1 > li {
    float:left;
  }

  .nav1 li a {
    background-color:#528FD5;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
  }

  .nav1 li a:hover {
    background-color:#75ACEC;
  }

  .nav1 li ul {
    display:none;
    position:absolute;
    min-width:160px;
  }

  .nav1 li:hover > ul {
    display:block;
  }

  .nav1 li ul li {
    position:relative;
  }

  .nav1 li ul li ul {
    right:-140px;
    top:0px;
  }




/* trabajando con la seccion */
.main .articles {
  width: 68.5%;
  margin-right: 1.5%;
  float:left;
  /*background: #fff;*/
}

.main .articles article {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
}

aside {
  width: 30%;
  background: #ff8000;
  float:left;
  padding: 20px;
  box-sizing:border-box;
}

footer {
  background: #000;
  color: #fff;
  clear:both;/*hace que se limpie los float:left */
  padding: 10px 0px;
  text-align: center;
}
